<!-- Footer -->
<footer class="bg-secondary text-center text-white">
  <!-- Grid container -->

    <!-- Section: Links -->
    <section class="pt-3">
      <!--Grid row-->
      <div class="d-flex justify-content-center row">
            <div class="col justify-content-start">
              <a href="#!" class="text-white">Demander un devis</a>
            </div>
            <div class="col justify-content-end">
              <a href="#!" class="text-white">Nous contacter</a>
            </div>
        </div>
      <!--Grid row-->
    </section>
    <!-- Section: Links -->
  </div>
  <!-- Grid container -->

  <div class="container p-4">
    <!-- Section: Social media -->
    <section class="d-flex justify-content-around mb-4">
    <!-- Facebook -->
    <a class="btn btn-outline-light btn-floating m-1" href="https://www.facebook.com/studentinterim" role="button">
        <img src="{{ asset('build/facebook.png') }}" alt="logo">
    </a>

    <!-- Instagram -->
    <a class="btn btn-outline-light btn-floating m-1" href="https://www.instagram.com/studentinterim/" role="button">
        <img src="{{ asset('build/insta.png') }}" alt="logo">
    </a>

    <!-- Linkedin -->
    <a class="btn btn-outline-light btn-floating m-1" href="https://www.linkedin.com/company/student-int%C3%A9rim" role="button">
        <img src="{{ asset('build/linkedin.png') }}" alt="logo">
    </a>

    <!-- Youtube -->
    <a class="btn btn-outline-light btn-floating m-1" href="https://youtube.com/channel/UCqQPYBaPQ7eRUtB-GKWIniQ" role="button"
        ><img src="{{ asset('build/youtube.png') }}" alt="logo">
    </a>

    </section>
    <!-- Section: Social media -->

  <!-- Copyright -->
  <div class="text-center" style="background-color: rgba(0, 0, 0, 0.2);">
    <p class="text-white">© 2020 Copyright: Student-Interim</p>
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->