@import "variables.scss";

.adminOffre h1 {
    color: $primary;
}

.adminOffre .data-card {
    max-width: 20.75em;
    min-height: 11em;
    overflow: hidden;
    border-radius: 0.5em;
    text-decoration: none;
    background: $white;
    margin: 0.3em;
    padding: 0.5em 0.5em;
    box-shadow: 0 1.5em 2.5em -0.5em rgba($dark, 0.1);
    transition: transform 0.45s ease, background 0.45s ease;
    border: 2px solid $dark;

    .btn {
        font-weight: $card-font-weight;
        font-size: 0.8em;
        color: $white;
        width: 120px;
    }

    h2 {
        align-items: center;
        color: $secondary;
        font-size: 1em;
        font-weight: $card-font-weight;
        line-height: 1;
        border-bottom: 2px solid $dark;
        transition: color 0.45s ease, border 0.45s ease;
        min-height: 70px;
    }
    
    .postuler{
        background-color: $primary;
    }
    
    .fa-industry {
        color: $card-text-color;
    }

    .fa-map-marker-alt {
        color: $card-text-color;
    }

    .update {
        background-color: $secondary;
    }

    .delete {
        background-color: $primary;
    }

    .postalCode {
        border-top: 2px solid $dark;
        padding-top: 2px;
        color: $secondary;
    }

    h4,
    h3 {
        color: $card-text-color;
        font-size: 0.6em;
        transition: color 0.45s ease;
    }

    .post {
        height: 30px;
        font-size: 0.7em;
        color: $secondary;
    }

    h4 {
        padding-top: 10px;
    }

    p {
        margin-top: 30px;
        margin-bottom: 30px;
        font-size: 0.7em;
        color: $card-text-color;
        line-height: 1.2;
        transform: translateY(-1em);
        transition: opacity 0.45s ease, transform 0.5s ease;
        height: 70px;
    }

    &:hover {
        transform: scale(1.05);
        box-shadow: 0px 5px 20px rgb(107, 107, 107);
    }
}

@keyframes point {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(0.125em);
    }
}
