@import "variables.scss";
@import "~bootstrap/scss/bootstrap";


main {
    margin-top: 98px;
    min-height: calc(100vh - 246px);
}

body {
    background-image: url(../images/background.jpg);
    background-position: 100% 100%;
    color: $dark;
    font-family: $text-font;
    scroll-behavior: smooth;
    font-size: $text-size;
}

h1 {
    margin: 0;
    padding: 0;
    font-family: $title-font;
    text-transform: uppercase;
    font-weight: bold;
    color: $light;
    font-size: $title-size;
}

h2 {
    margin: 0;
    padding: 0;
    font-family: $subtitle-font;
    text-transform: uppercase;
    color: $secondary;
    font-size: $subtitle-size;
}

h3 {
    margin: 0;
    padding: 0;
    font-family: $subtitle-font;
    text-transform: uppercase;
    color: $primary;
    font-size: $subtitle-size;
}

h4 {
    margin: 0;
    padding: 0;
    font-family: $subtitle-font;
    text-transform: uppercase;
    color: $primary;
    font-size: $h4-size;
}

h5 {
    margin: 0;
    padding: 0;
    font-family: $subtitle-font;
    text-transform: uppercase;
    color: $primary;
    font-size: $h5-size;
}

.page-link {
    margin-top: 10px;
    font-family: $subtitle-font;
    text-transform: uppercase;
    color: $primary;
    font-size: 0.5em;
}

footer {
    background-color: $secondary;
    color: $light;
    font-size: 20px;
}

.foot-link:hover {
    background-color: $white;
    color: $secondary !important;
}

.btn-closeFlash {
    box-sizing: content-box;
    width: 0.25em;
    height: 0.25em;
    padding: 0.25em 0.25em;
    color: #000;
    background: transparent
    url(
    "data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23000'%3e%3cpath d='M.293.293a1 1 0 011.414 0L8 6.586 14.293.293a1 1 0 111.414 1.414L9.414 8l6.293 6.293a1 1 0 01-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 01-1.414-1.414L6.586 8 .293 1.707a1 1 0 010-1.414z'/%3e%3c/svg%3e"
    )
    center/1em
    auto
    no-repeat;
    border: 0;
    border-radius: 0.25rem;
    opacity: 0.5;
}

@media only screen and (max-width: 1024px) {
    body {
        font-size: $text-size2;
    }
}

.filter {
    font-size: $filter-size;
    font-weight: bold;
}

.price-list-text {
    color: $card-text-color;
}
