@import 'variables.scss';
@import '~bootstrap/scss/bootstrap';

body {
    background-color: $light;
    color: $dark;
    font-family: $text-font;
    scroll-behavior: smooth;
    font-size: $text-size;
}

h1 {
    margin: 0;
    padding: 0;
    font-family: $title-font;
    text-transform: uppercase;
    font-weight: bold;
    color: $light;
    font-size: $title-size;
}

h2 {
    margin: 0;
    padding: 0;
    font-family: $subtitle-font;
    text-transform: uppercase;
    color: $secondary;
    font-size: $subtitle-size;
}

h3 {
    margin: 0;
    padding: 0;
    font-family: $subtitle-font;
    text-transform: uppercase;
    color: $primary;
    font-size: $subtitle-size;
}

h4 {
    margin: 0;
    padding: 0;
    font-family: $subtitle-font;
    text-transform: uppercase;
    color: $primary;
    font-size: $h4-size;
}

h5 {
    margin: 0;
    padding: 0;
    font-family: $subtitle-font;
    text-transform: uppercase;
    color: $primary;
    font-size: $h5-size;
}

footer {
    background-color: $secondary;
    color: $light;
    font-size: 20px;
}

@media only screen and (max-width: 1024px) {
    body {
        font-size: $text-size2;
    }
}