@import 'app.scss';

.banner {
    width: 100%;
    height: 80vh;
    object-fit: cover;
}

header {
    position: relative;
}

.banner-head {
    width: 100%;
    height: 90vh;
    object-fit: cover;
}

header h1 {
    position: absolute;
    font-size: $header-size1;
    filter: drop-shadow(0 0 0.15rem rgb(2, 2, 2))
}

.home-title {
    font-size: $title-size;
    filter: drop-shadow(0 0 0.25rem $dark);
    position: absolute;
    margin: 0;
    padding: 0;
    font-family: $title-font;
    text-transform: uppercase;
    font-weight: bold;
    color: $light;
}

.home-title a {
    font-size: $button-font-size;
    border-radius: 5px;
}

@media only screen and (max-width: 1024px) {
    header {
        align-items: center;
    }

    header h1 {
        font-size: $header-size2;
    }

    .banner {
        height: 40vh;
        width: 100%;
        object-fit: cover;
    }
}

@media only screen and (max-width: 768px) {
    header {
        align-items: center;
    }

    header img {
        height: auto;
    }

    header h1 {
        font-size: $header-size3;
    }

    .home-title {
        font-size: $h4-size;
    }
}

@media only screen and (max-width: 550px) {
    .home-title {
        font-size: $h5-size;
    }
}

@media only screen and (max-width: 425px) {
    header {
        align-items: center;
    }

    header img {
        height: auto;
    }

    header h1 {
        font-size: $header-size4;
    }

    .job-advert {
        width: 75%;
    }
}
