@import 'app.scss';

.banner {
    width: 100%;
    height: 80vh;
    object-fit: cover;
}

header {
    position: relative;
}

.banner-head {
    width: 100%;
    height: 100vh;
    object-fit: cover;
}

header h1 {
    position: absolute;
    font-size: $header-size1;
    filter: drop-shadow(0 0 0.15rem rgb(2, 2, 2))
}

.logo {
    width: $navbar-logo-size;
    height: $navbar-logo-size;
}

@media only screen and (max-width: 1024px) {
    header {
        align-items: center;
    }

    header h1 {
        font-size: $header-size2;
    }

    .banner {
        height: 40vh;
        width: 100%;
        object-fit: cover;
    }
}

@media only screen and (max-width: 768px) {
    header {
        align-items: center;
    }

    header img {
        height: auto;
    }

    header h1 {
        font-size: $header-size3;
    }
}

@media only screen and (max-width: 425px) {
    header {
        align-items: center;
    }

    header img {
        height: auto;
    }

    header h1 {
        font-size: $header-size4;
    }

    .job-advert {
        width: 75%;
    }
}
