@import 'variables.scss';

.navbar {
    filter: drop-shadow(0 0 0.25rem $primary);
}

.logo {
    width: $navbar-logo-size;
}

.red-button {
    color: $primary !important;
    border: solid 2px $primary;
    background-color: $light;
    border-radius: $border-radius-button-nav;
}

.red-button:hover {
    color: $light !important;
    background-color: $primary;
}

.blue-button {
    color: $secondary !important;
    border: solid 2px $secondary;
    background-color: $light;
    border-radius: $border-radius-button-nav;
}

.blue-button:hover {
    color: $light !important;
    background-color: $secondary;
}
