@font-face {
    font-family: "Poetsen";
    src: url("../fonts/PoetsenOne-Regular.ttf");
}
@font-face {
    font-family: "Tw Cen Bold";
    src: url("../fonts/TwCenMTCondensedBold.ttf");
}
@font-face {
    font-family: "Tw Cen Regular";
    src: url("../fonts/TwCenMTCondensedRegular.ttf");
}

$title-font: 'Poetsen';
$subtitle-font: 'Tw Cen Bold';
$text-font: 'Tw Cen Regular';
$title-size: 2.3em;
$subtitle-size: 2.3em;
$h4-size: 1.9em;
$h5-size: 1.3em;
$text-size: 1.8em;
$text-size2: 1.2em;
$filter-size: 0.8em;
$primary: #e3041b;
$secondary: #497FC6;
$info: #eceaea;
$dark: #141414;
$light: #f9f9f9;
$white: #ffffff;
$card-text-color:#2e3c40;
$card-font-weight: 600;
$header-size1: 100px;
$header-size2: 4em;
$header-size3: 3em;
$header-size4: 2em;
$navbar-responsive-font-size: 15px;
$navbar-logo-size: 60px;
