@import url('https://fonts.googleapis.com/css2?family=Simonetta:ital,wght@0,400;0,900;1,400;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');

$title-font: 'Simonetta', cursive;
$text-font: 'Open Sans', sans-serif;
$title-size: 2.3em;
$primary: #D20E00;
$secondary: #1C60EA;
$dark: #141414;
$light: #f9f9f9;
