{% extends 'layout_company.html.twig' %}

{% block title %}{{ parent() }} - Profil{% endblock %}

{% block body %}
    <h2 class="text-center my-3 my-lg-4 my-xl-5">Student Interim Entreprise</h2>
    <h3 class="text-center my-lg-5">Profil</h3>
    <div class="card container-fluid text-center pb-2 mb-3 w-75">
        <div class="card-body">
            <div class="row pt-3">
                <div class="col list-unstyled"
                    <ul>
                        <li class="text-muted">Date de début de mission</li>
                        <li>Oui</li>
                        <li class="text-muted">Date de fin de mission</li>
                        <li>Oui</li>
                    </ul>
                </div>
                <div class="col list-unstyled"
                    <ul>
                        <li class="text-muted">
                            <i class="fas fa-map-marker-alt text-primary"></i>
                            Localisation
                        </li>
                        <li>Oui</li>
                        <li class="text-muted">Heures par semaine</li>
                        <li>Oui</li>
                    </ul>
                </div>
            </div>
            <a href="#" class="btn btn-primary btn-lg w-25 mt-4">POSTULER</a>
        </div>
    </div>
{% endblock %}