<!DOCTYPE html>

<html>

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<title>Nouveau message</title>
	</head>

	<body>
		<h1>Nouveau message de {{ contact.lastname }} {{ contact.firstname }} reçu</h1>
		<p>Message :{{ contact.message }}</p>
	</body>

</html>